:root {
  --gradientColorOne: #0fffc1;
  --gradientColorTwo: #4787e0;
  --gradientColorThree: #7e0fff;
  --primaryDark: linear-gradient(
    90deg,
    rgb(28, 27, 27) 0%,
    rgb(26, 23, 23) 100%
  );
  --secondaryDark: #242222;
}

.contact__container {
  padding: 0rem 2rem;
}

.contact__description {
  padding: 20px 10px;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea,
button {
  all: unset;
  width: 100%;
  padding: 2px;
  border-radius: 10px;
}

.name__inputArea::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: var(--gradientColorOne);
  border-radius: 10px;
  filter: blur(8px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.name__inputArea:focus-within::before,
.name__inputArea:hover::before {
  opacity: 1;
}

.name__inputArea {
  position: relative;
  z-index: 1;
  margin: 10px 0;
  display: flex;
}

.name__inputArea > input {
  background-color: #fff;
  border: 1px solid rgba(15, 255, 195, 0.6);
  padding: 10px;
}

.email__inputArea::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: var(--gradientColorTwo);
  border-radius: 10px;
  filter: blur(8px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.email__inputArea:focus-within::before,
.email__inputArea:hover::before {
  opacity: 1;
}

.email__inputArea {
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin: 10px 0;
  display: flex;
}

.email__inputArea > input {
  background-color: #fff;
  border: 1px solid rgba(72, 135, 224, 0.6);
  padding: 10px;
}

.message__textArea::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: var(--gradientColorThree);
  border-radius: 10px;
  filter: blur(8px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* padding: 10px; */
}

.message__textArea:focus-within::before,
.message__textArea:hover::before {
  opacity: 1;
}

.message__textArea {
  position: relative;
  z-index: 1;
  margin: 10px 0;
  display: flex;
}

.message__textArea > textarea {
  background-color: #fff;
  padding: 10px;
  border: 1px solid rgba(127, 15, 255, 0.6);
}

@keyframes buttonAnimateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact__button > button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  border-radius: 5px;
  filter: blur(8px);
  opacity: 0;
  animation: buttonAnimateGlow 10s ease infinite;
  transition: opacity 0.3s ease-in-out;
}

.contact__button > button {
  margin: 10px 0;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  font-size: 20px;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  animation: buttonAnimateGlow 5s ease infinite;
}

.contact__button > button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: 12px;
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: buttonAnimateGlow 5s ease infinite;
}

.contact__button > button:active {
  color: #fff;
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: buttonAnimateGlow 5s ease infinite;
}

.contact__button:focus-within::before,
.contact__button:hover::before {
  opacity: 1;
}
.contact__button > button:hover::before {
  opacity: 1;
}
