.skills-container {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.skills__icons {
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
}
.skills__icons img {
  height: 96px;
  width: 96px;
}

.skills__icons > * {
  padding: 20px;
}
