:root {
  --primary: #fff;
  --secondary: #242424;
  --gradientOne: #7e0fff;
  --gradientTwo: #0fffc1;
  --gradientFull: linear-gradient(270deg, #0fffc1, #7e0fff);
}

.hero-container {
  position: relative;
  background: url(#) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  overflow: hidden;
  color: var(--primary);
  text-align: center;
}

.greeting-container {
  position: relative;
  margin-bottom: 2em;
}

.greeting {
  margin-right: 0.7em;
  animation: textColor 7s ease infinite;
}
.greeting-subline span:nth-child(2) {
  font-size: 0.7em;
}

.message-subline {
  display: flex;
  flex-direction: column;
  padding: 0em 1.65em;
  font-size: 1.35em;
}

.hero-container h2 {
  font-size: 2.5em;
  align-self: center;
  margin-left: 0.1em;
}

.hero-container h1 {
  color: var(--primary);
  font-size: 5rem;
  margin-top: -0.5em;
}

.btn-mobile {
  display: block;
  text-decoration: none;
}
.btn {
  width: 100%;
}
/* Currently not present in hero-section - keep for future */
.hero-container > p {
  color: var(--primary);
  font-size: 32px;
  margin-top: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero-container::after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1.5);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: var(--gradientFull);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

/* Button */
.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 15px 10px;
  font-size: 1rem;
}

.btn--medium:hover,
.btn--large:hover {
  background: var(--primary);
  color: #242424;
  transition: all 0.3s ease-out;
}

@keyframes textColor {
  0%,
  100% {
    color: var(--gradientOne);
  }
  50% {
    color: var(--gradientTwo);
  }
}

/* RESPONSIVE CONSTRAINTS */
@media only screen and (min-width: 600px) {
  .greeting-container {
    transform: scale(1.5);
    margin-bottom: 5rem;
  }

  .message-subline {
    padding: 0em 9em;
    font-size: 1.35em;
  }
  .btn--large {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .greeting-container {
    transform: scale(1.5);
  }

  .btn--large {
    margin-top: 1.5em;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .greeting-container {
    transform: scale(2);
  }
}
