@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --gradientColorOne: #0fffc1;
  --gradientColorTwo: #4787e0;
  --gradientColorThree: #7e0fff;
  --primaryDark: linear-gradient(
    90deg,
    rgb(28, 27, 27) 0%,
    rgb(26, 23, 23) 100%
  );
  --secondaryDark: #242222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2em;
}

.section__container {
  padding: 2rem;
}

/* Halo Effect */

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.halo-effect {
  position: relative;
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.halo-effect::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  border-radius: 10px;
  filter: blur(8px);
  animation: animateGlow 10s ease infinite;
}

/* PROJECTS */

/* RESPONSIVE CONSTRAINTS */

@media only screen and (min-width: 600px) {
  * {
    transition: all 0.3s ease-in-out;
  }

  .section__container {
    padding: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  * {
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 1200px) {
  * {
    transition: all 0.3s ease-in-out;
  }
}
